<div class="center-content">  
    <mat-toolbar class="header">
      <div class="header-title">
        <h6 class="header-title-text">History</h6>
      </div>
    
      <div class="header-toolbar">
        <button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
          <mat-icon class="user-button-icon">person</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <div class="user-menu-title">
            <h4 class="user-menu-title-name">UserName : {{userName}}</h4>
            <h4 class="user-menu-title-name">Role : {{role}}</h4>
          </div>
          
          <div class="sign-button-wrapper">
            <button class="sign-button" mat-flat-button (click)="history()">History</button>
          </div>
          <div class="sign-button-wrapper">
            <button class="sign-button" mat-flat-button (click)="logout()">Sign out</button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>


    
    <mat-label>Email: </mat-label>
    <mat-label>{{email}} </mat-label>
    <br>
    <mat-label>userName: </mat-label>
    <mat-label>{{userName}} </mat-label>
    <br>
    
  
</div>
