<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title >Register</mat-card-title>
      
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Register">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="remail">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>UserName</mat-label>
              <input type="text" matInput placeholder="Password" [(ngModel)]="rpassword">
              
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="rcpassword">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="register()">Register</button>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>
  