:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  form.normal-form{
    margin: 250px;
}
  
  .center-content {
    text-align: -webkit-center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
    margin-top: 10px;
  width: 100%;
}
.mat-button{
    margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px; 
}


.header {
  background-color: #536DFE;
  justify-content: space-between;
  z-index: 2;
  height: 80px;
}
  .header-title {
    display: flex;
    align-items: center;
  }

  .header-title-button {
    background-color:  #F6F7FF
  }

  .header-title-button-icon {
    color: #F6F7FF;
  }

  .header-title-text {
    color: #F6F7FF;
    margin-left: 32px;
    font-weight: 400;

}

.header-toolbar {
  display: flex;
  align-items: center;
}
  .header-unlock-button {
    border-color: #3CD4A0;
    margin-right: 16px;
    text-transform: uppercase;
    background-color: #3CD4A0;
    color: white;
    letter-spacing: .0892857143em;
  
}


.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;
}

.user-menu-name {
    margin-bottom: 4px;
    font-weight:  400;
    font-size: 24px;
    color: #4A4A4A;
  }

.user-menu-link {
    color: blue;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.user-menu-icon {
  color: #B9B9B9;
  margin-right: 16px;
  opacity: .8;
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 16px 0;
  width: 100%;
}

.sign-button {
  border: 1px solid;
  color: blue;
  width: 80%;
}

