<div class="center-content">  
<mat-toolbar class="header">
  <div class="header-title">
    <h6 class="header-title-text">Consultant</h6>
  </div>

  <div class="header-toolbar">
    <button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
      <mat-icon class="user-button-icon">person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="user-menu-title">
        <h4 class="user-menu-title-name">UserName : {{userName}}</h4>
        <h4 class="user-menu-title-name">Role : {{role}}</h4>
      </div>
      
      <div class="sign-button-wrapper">
        <button class="sign-button" mat-flat-button (click)="history()">History</button>
      </div>
      <div class="sign-button-wrapper">
        <button class="sign-button" mat-flat-button (click)="logout()">Sign out</button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
  <form [formGroup]="compteRenduForm"  class="normal-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom du partenaire / client</mat-label>
      <input  formControlName="clientName" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Type de l'entretien </mat-label>
      <mat-select>
        <mat-option value="one">Client</mat-option>
        <mat-option value="two"> Partenaire</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Prénom </mat-label>
      <input  formControlName="firstName" matInput >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Nom </mat-label>
      <input  formControlName="lastName" matInput >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Poste </mat-label>
      <input  formControlName="post" matInput >
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> n° de tel </mat-label>
      <input  formControlName="numero" matInput >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Email </mat-label>
      <input  formControlName="email" matInput >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Address </mat-label>
      <input  formControlName="adress" matInput >
    </mat-form-field>
    
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Entretien en : </mat-label>
      <mat-select>
        <mat-option value="one"> Visio</mat-option>
        <mat-option value="two">présentiel</mat-option>
        <mat-option value="three">par téléphone</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input  formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Durée de l'entretien</mat-label>
      <input  formControlName="interShipDuration" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Nombre de personnes participant à l'entretien / Rôles ..</mat-label>
      <input  formControlName="numberOfParticipant"  matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Le déroulement de l'entretien</mat-label>
      <input  formControlName="deroulementInterShip" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label>Le ressenti</mat-label>
      <input  formControlName="ressenti" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Positionnement chez le client</mat-label>
      <mat-select>
        <mat-option value="one">Oui</mat-option>
        <mat-option value="two"> Non</mat-option>
        <mat-option value="two">Je ne sais pas</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
       </div>
  </form>
 </div>   
