<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title >Reset Password</mat-card-title>
      
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="New Password">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="newpassword">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Password" [(ngModel)]="confirmpassword">
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
            <button mat-button color="primary" (click)="newPassword()">Send</button>
          </mat-tab>
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>
  