
<div class="center-content">
<mat-toolbar class="header">

  <div class="header-title">
    <h6 class="header-title-text">Home</h6>
  </div>

  <div class="header-toolbar">
    <button class="user-button" mat-mini-fab [matMenuTriggerFor]="userMenu">
      <mat-icon class="user-button-icon">person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="user-menu-title">
        <h4 class="user-menu-title-name">UserName : {{userName}}</h4>
        <h4 class="user-menu-title-name">Role : {{role}}</h4>
      </div>
      <div class="sign-button-wrapper">
        <button class="sign-button" mat-flat-button (click)="logout()">Sign out</button>
      </div>
    </mat-menu>
  </div>

</mat-toolbar>
  
    <div class="search-div">
      <button mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
      </button>
   
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>First Name</mat-header-cell>
      
      <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="x">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>poste</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.poste}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="y">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>experience </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.experience}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="z">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>numero</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.numero}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="w">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>adresse</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.adresse}}</mat-cell>
    </ng-container>
    
    
    
    
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
        <button mat-icon-button (click)="onSend(row)"><mat-icon>mail</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container>
      
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>
</div>
</div>