table {
    width: 100%;
  }
  

  
/* filter controls */
.search-div{
  margin: 10px;
    }
    
    .search-form-field{
        width: 30%;
        height: 50px;
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        }
        .search-form-field div.mat-form-field-underline {
            display: none;
        }
        .search-form-field div.mat-form-field-infix{
            border-top: 0px;
        }
        .search-form-field div.mat-form-field-wrapper{
          padding-bottom: 0px;
      }
      .search-form-field div.mat-form-field-suffix button{
          height: 32px;
          width: 32px;
      }
      
      .header {
        background-color: #536DFE;
        justify-content: space-between;
        z-index: 2;
        height: 80px;
      }
        .header-title {
          display: flex;
          align-items: center;
        }
      
        .header-title-button {
          background-color:  #F6F7FF
        }
      
        .header-title-button-icon {
          color: #F6F7FF;
        }
      
        .header-title-text {
          color: #F6F7FF;
          margin-left: 32px;
          font-weight: 400;
    
      }
      
      .header-toolbar {
        display: flex;
        align-items: center;
      }
        .header-unlock-button {
          border-color: #3CD4A0;
          margin-right: 16px;
          text-transform: uppercase;
          background-color: #3CD4A0;
          color: white;
          letter-spacing: .0892857143em;
        
      }


      .user-menu-title {
        padding: 16px 48px 0 16px;
        margin-bottom: 4px;
      }
      
      .user-menu-name {
          margin-bottom: 4px;
          font-weight:  400;
          font-size: 24px;
          color: #4A4A4A;
        }
      
     .user-menu-link {
          color: blue;
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
      }
      
      .user-menu-icon {
        color: #B9B9B9;
        margin-right: 16px;
        opacity: .8;
      }
      
      .sign-button-wrapper {
        text-align: center;
        padding: 8px 0 16px 0;
        width: 100%;
      }
      
      .sign-button {
        border: 1px solid;
        color: blue;
        width: 80%;
      }

    
      