form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
    }
    .dialogC {
        position: relative !important;
      }
      
      .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -30%);

      }
