<form [formGroup]="profileForm" class="normal-form" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First Name*">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last Name*">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>

        </div>
          
        <div class="controles-container">
          <mat-form-field>
            <input formControlName="poste" matInput placeholder="Poste">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          
          <mat-form-field>
            <input formControlName="experience" matInput placeholder="Experience">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          
          <mat-form-field>
            <input formControlName="adresse" matInput placeholder="Adresse">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="number" formControlName="numero" matInput placeholder="numero">
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
         
            <button mat-button class="close-icon" [mat-dialog-close]="true">
                <mat-icon>close</mat-icon>
            </button>
            
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form> 