<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Rest Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Reset Password">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
              <mat-icon matSuffix>email</mat-icon>
            <button mat-button color="primary" (click)="reset()">Reset</button>
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  