
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  .center-content {
      margin-top: 100px;
      text-align: -webkit-center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 20px;
      margin-bottom: 20px;
    width: 100%;
  }
  .mat-button{
      margin-top: 20px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }

  .user-button {
    background-color: #798DFE;
    box-shadow: none;
    margin-left: 16px;
  }

  .link {
    text-decoration-color: blue;
    margin-left: 16px;

  }